

    


<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
        
        {% block head %}
        {% endblock %}
</head>

<body>
        
    {% block body %}
    {% endblock %}

    <section id="cv">
        <div class="container-cv">
          <div class="cv-bar">
            <a href="/static/experiences/cv-tayeb.pdf" target="_blank">
              <img src="/static/experiences/cv.svg" alt="CV Icon">
            </a>
            <h5 class="rights">&copy; 2023 Tayeb EL Mehadji</h5>
            
          </div>
        </div>
    </section>   
     
    
    <script type="text/javascript">
        // Array of words to rotate
        var words = ['Petroleum Engineering', 'Data Analytics', 'Machine Learning'];
    
        // Get the dynamic words element
        var dynamicWords = document.getElementById('dynamic-words');
    
        // Function to update the dynamic words
        function updateDynamicWords() {
          var currentIndex = 0;
          setInterval(function() {
            dynamicWords.innerHTML = '<span class="dynamic-word">' + words[currentIndex] + '</span>';
            currentIndex = (currentIndex + 1) % words.length;
          }, 2000);
        }
    
        // Call the update function
        updateDynamicWords();
    </script>
    <a class="scroll-down-arrow">
        <span class="arrow"></span>
    </a>
    
    <script type="text/javascript">
        // Hide the scroll-down arrow initially
        $('.scroll-down-arrow').addClass('hidden');
    
        // Function to check if the user has reached the end of the page
        function checkScrollEnd() {
          var windowHeight = $(window).height();
          var documentHeight = $(document).height();
          var scrollTop = $(window).scrollTop();
          var scrollPosition = windowHeight + scrollTop;
          
          if (scrollPosition >= documentHeight) {
            $('.scroll-down-arrow').addClass('hidden');
          } else {
            $('.scroll-down-arrow').removeClass('hidden');
          }
        }
    
        // Bind the scroll event to check for scroll end
        $(window).on('scroll', checkScrollEnd);
    </script>
</body>
</html>
       