body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
  }
  
  .top-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  .content {
    text-align: center;
    margin: 20px;
  }
  
  .table-of-contents {
    margin-bottom: 20px;
  }
  
  .table-of-contents ul {
    list-style-type: none;
    padding: 0;
  }
  
  .table-of-contents li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  #cv {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .container-cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
  }
  
  .cv-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cv-bar img {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
  }
  
  .rights {
    font-size: 12px;
    white-space: nowrap;
    text-align: center; /* Center the text */
  }
  